@import "../variables";
@import "../mixins";

.collapsea_describeb {
  margin-bottom: 1rem;
  flex-basis: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 92%;

  @media screen and (min-width: $breakpoint-desktop) {
    margin: 31px auto 0;
  }

  p {
    margin-block: 0;
  }

  .description {
    background: $primary-color;
    color: $tertiary-color;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 0px 13px;
    @include small-radius;
    width: 100%;
    margin-bottom: 0;

    @media screen and (min-width: $breakpoint-desktop) {
      height: 30px;
    }

    span {
      @include font(13px, $font-regular);

      @media screen and (min-width: $breakpoint-desktop) {
        @include font(24px, $font-regular);
      }
    }
    p {
      color: $secondary-color;
    }
  }

  .img {
    width: 12px;
    transform: rotate(0deg);
    transition: 0.4s 0.4s ease-in-out;
    cursor: pointer;

    @media screen and (min-width: $breakpoint-desktop) {
      width: 20px;
    }

    &.rotated {
      transform: rotate(180deg);
      transition: 0.4s ease-in-out;
    }
  }

  .about_describeb {
    color: $primary-color;
    background: #f6f6f6;
    @include small-radius;
    transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    margin-top: -22px;
    width: 97%;
    position: relative;
    z-index: -1;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    &.visible {
      max-height: 1000px;
      opacity: 1;
    }

    p {
      margin: 0;
      padding: 22px 15px;
      @include font(12px, $font-regular);

      @media screen and (min-width: $breakpoint-desktop) {
        @include font(18px, $font-regular);
      }
    }

    .equipList {
      list-style-type: none;
      padding: 22px 15px;
      margin: 0;

      li {
        @include font(12px, $font-regular);

        @media screen and (min-width: $breakpoint-desktop) {
          @include font(18px, $font-regular);
        }
      }
    }
  }
}
