@import "../mixins";
@import "../variables";

.banner {
  position: relative;
  width: 100%;
  height: 111px;
  @include small-radius;
  @include flex-banner;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    @include small-radius;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include small-radius;
  }

  h1 {
    position: relative;
    z-index: 2;
    font-size: 24px;
    font-weight: 800;
    line-height: 100%;
    color: $tertiary-color;
    width: 100%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 16px 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    @media screen and (max-width: $wmax) {
      h1 {
        font-size: 20px;
        line-height: 1.2;
      }
    }

    @media screen and (min-width: $breakpoint-desktop) {
      height: 223px;
      @include big-radius;

      img,
      &::before {
        @include big-radius;
      }

      h1 {
        width: 100%;
        height: 100%;
        @include font(48px, 800);
        padding: 16px 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
