@import "../mixins";
@import "../variables";

.grid {
  @include flex-center;
  flex-wrap: wrap;
  background-color: $secondary-color;
  margin: 30px;
  padding: 30px;
  @include big-radius;
  gap: 30px;

  @media (max-width: $breakpoint-desktop) {
    background-color: $tertiary-color;
    padding: 0;
    border-radius: 0;
    gap: 15px;
    margin: 15px;
  }

  .location {
    flex-basis: calc(33.333% - 20px);
    position: relative;
    @include flex-column;
    align-items: center;
    @include bkgrd(center / cover no-repeat);
    @include small-radius;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;

    @media screen and (min-width: $breakpoint-desktop) {
      &:hover,
      &:focus {
        transform: scale(1.05);
        @include boxShadow;
      }
    }

    img {
      @include WH-full;
      object-fit: cover;
      @include small-radius;
      box-shadow: 0 8px 24px rgba($footer-color, 0.2);
      filter: brightness(0.8);
    }

    .apartment_subtitle {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 10px;
      @include bkgrd($linear-cards);
      color: $tertiary-color;
      font-family: $font-family-primary;
      @include font(18px, $font-medium);
      text-align: center;
      z-index: 1;
    }

    @media screen and (max-width: $breakpoint-desktop) {
      flex-basis: 100%;
    }
  }
}
