@import "../variables";
@import "../mixins";

.collapse-describe {
  width: 96%;
  margin: 20px 0;
  overflow: hidden;

  @media screen and (min-width: $breakpoint-desktop) {
    margin: 31px auto 0;
  }

  .description {
    background: $primary-color;
    color: $tertiary-color;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 7px 15px;
    @include small-radius;
    width: 100%;

    @media screen and (min-width: $breakpoint-desktop) {
      height: 30px;
    }

    span {
      @include font(13px, $font-regular);

      @media screen and (min-width: $breakpoint-desktop) {
        @include font(24px, $font-regular);
      }
    }

    img {
      width: 12px;
      transition: transform 0.4s ease-in-out;

      @media screen and (min-width: $breakpoint-desktop) {
        width: 20px;
      }
    }
  }

  .about-describe {
    color: $tertiary-color;
    background: black;
    @include small-radius;
    padding: 22px 15px;
    margin-top: -21px;
    width: 99%;
    transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;
    max-height: 1000px;
    opacity: 1;
    overflow: hidden;

    @include font(12px, $font-regular);

    @media screen and (min-width: $breakpoint-desktop) {
      @include font(18px, $font-regular);
    }
  }
}
