$primary-color: #ff6060;
$secondary-color: rgba(0, 0, 0, 0.119);
$tertiary-color: #ffffff;

$footer-color: #000000;
$background-color: rgba(0, 0, 0, 0.3);
$linear-cards: linear-gradient(
  180deg,
  rgba(255, 255, 255, 0) 0%,
  rgba(0, 0, 0, 0.5) 100%
);

$font-family-primary: "Montserrat";
$font-regular: 400;
$font-medium: 600;
$font-bold: 700;

$breakpoint-desktop: 768px;

$about-background: $background-color url(../../assets/images/AboutBanner.png);
$about-background-mobile: $background-color
  url(../../assets/images/mobile-about-background.png);
$banner-background: $background-color url(../../assets/images/homebanner.png);

$wmin: 375px;
$wmax: 768px;
